

/*********footer***********/
.footer{
background:$primary-color;
a{
color: $white-color;
}
}


.footer-bottom{
border-top:1px solid rgba(255, 255, 255, 0.12);
}
.copyright{
 font-size: 12px;
 letter-spacing: 0px;
color:#ceccd1;
a{
opacity: 0.7;
color: $white-color;
&:hover{
opacity: 1;
}
}
}