

/************header************/
.section-padding{
    padding:2rem 0;
    @include lg-min{
     padding:5rem 0;
    }
}
 header{
     border-bottom:1px solid rgba(255, 255, 255, 0.12);
     position:relative;
}

 .navbar-expand-lg{
     padding:1rem;
     .navbar-nav {
         .nav-link {
             color:$white-color;
             padding-right:1.25rem;
             padding-left:1.25rem;

             @include xs-max{
             font-size:14px;
             }
        }
    }
}
#navbarNavDropdown{
  @include md-max{
    position: absolute;
    top: 73px;
    left: 0px;
    right: 0px;
    z-index: 1;
    background: $primary-color;
    padding: 1rem 0rem;
  }
}
/************banner***********/
 .home {
     height: 500px;
     clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
     @include lg-min{
         height: 600px;
      clip-path: polygon(0 0, 100% 0, 100% 88%, 0% 100%);
      }
     @include grdimg();
}
 .banner{
     height:100%;
      margin-top: -4rem;
     @include lg-min{
         margin-top: -5rem;
    }
}
 .banner-caption{
     h1{
         font-size:42px;
         font-weight:600;
         margin-bottom:0px;
        @include xs-max{
        font-size:32px;
        }
         @include lg-min{
          font-size:55px;
        }

    }
     .banner-sub-text{
         font-size:18px;
         line-height:1.5;
         letter-spacing:1px;
         margin:1.6rem 0;
         @include xs-max{
             font-size: 16px;
         }
         @include lg-min{
             font-size:22px;
        }
    }
}
 .btn{
     font-weight:500;
     font-size:16px;
     padding:.5rem 1.5rem;
     &:focus, &:active{
     box-shadow:none !important;
     }
       @include xs-max{
       font-size:14px;
     padding:.375rem 1rem;
       }  
     &.btn-primary{
         background-color:$white-color;
         color:$primary-color;
         border-color:$white-color;
    }
     &.btn-lg{
         padding:1rem 2rem;
         font-size:20px;
       @include xs-max{
      font-size:16px;
     padding:.75rem 1.5rem;
       }  
    }
    &.btn-grd{
  @include grdimg();
   color:$white-color;
   border:0;
  }
}
/********about************/
 .about-content{
     padding: 3rem 0;
     @include lg-min{
         padding: 5rem 0;
    }
     .lead{
     font-size:24px;
     color:$lead-text;
     @include xs-max{
     font-size:18px;
     }
     @include lg-min{
     font-size:41px;
     }

    }
}
 .news{
     clip-path: polygon(0 0, 100% 8%, 100% 100%, 0% 100%);
     padding: 6rem 0 0rem 0;
      background:#efefef;
     @include lg-min{
         padding: 8rem 0 2rem 0;
         clip-path: polygon(0 0, 100% 12%, 100% 100%, 0% 100%);
    }
     .card{
         @include transition(0.4s);
         .card-img{
             img{
                 @include transition(0.4s);
            }
        }
         .card-overlay{
             top: 0;
             right: 0;
             bottom: 0;
             left: 0;
             background: #000;
             opacity: 0.3;
             @include transition(opacity .3s ease-in-out);
        }
         .news-title{
             font-size:20px;
             font-weight:600;
             @include xs-max{
             font-size:15px;
             }
        }
         &:hover{
             .card-img{
                 img{
                     @include transform(rotate(10deg) scale(1.2));
                }
            }
             .card-overlay{
                opacity:0;
            }
        }
    }
}
 .news-links{
     @include flex();
     li {
         font-size: 12px;
         position: relative;
         padding: 8px 0;
         margin-bottom: 16px;
         margin-left: 30px;
         &:before{
             color:$primary-color;
             content: '\2022';
             display: inline-block;
             font-size: 25px;
             left: -20px;
             position: absolute;
             top: -1px;
        }
    }
}
 .owl-carousel .owl-item {
     float: left;
     .card{
         margin: 1rem;
         border-radius: 0;
         border:0px;
         background-color:#efefef;
    }
}

 .product-item-navigation {
    
     a{
     position: absolute;
     }
     a.prev.latest-item-nav-prev {
    left: 5px;
    top: 36%;
    /* bottom: 0; */
    padding: 10px 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 1;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: -2px 1px 10px #bdbdbd;
  }
  a.next.latest-item-nav-next {
    right: 5px;
    top: 36%;
    /* bottom: 0; */
    padding: 10px 12px;
    background: #fff;
    border-radius: 50%;
    opacity: 1;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 2px 1px 10px #bdbdbd;
}
}

/************news page***********/
.media-img{
    height:100px;
    width:100px;
    object-fit:cover;
     @include md-max{
    margin-bottom:1rem;
        width: 100%;
    }
}
.media-card{
    padding:1rem;
    margin-bottom:1.5rem;
    @include transition(0.3s);
    @include shadow(0 2px 0.5rem rgba(0, 0, 0, 0.09));
    &:hover{
    @include shadow(0 0.5rem 1rem rgba(0, 0, 0, 0.09));
    }
    @include lg-min{
    padding:1.5rem;
    }
    .media{
      .media-description{
         color:$secondary-color;
         margin-top:0.5rem;
            @include lg-min{
            
            margin-bottom:0rem;
            }
      }
    @include sm-max{
    display:block;
    }
    }
}

/********news page end********/


/**********about page********/
.team-card{
 @include md-max{
        margin-bottom:1.5rem;
    }
    @include sm-max{
        padding:1rem;
        margin-bottom:1rem;
    }
    .avatar-img{
     width: 7.5rem;
     height: 7.5rem;
     border-radius: 50%;
    }
}
.avatar-name{
    font-size:1.1rem;
}
.about-page{
    padding: 5rem 0 2rem 0;
    clip-path:polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
    @include lg-min{
     padding: 6rem 0 4rem 0;
    clip-path: polygon(0 12%, 100% 0%, 100% 100%, 0% 100%);
    }
}

/*******conatct page*****/
.contact-box-left{
    a, address{
    color:$white-color;
    opacity:0.7;
    }
    .social-connect{
    a{
     opacity:1;
    }
    }

}

.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px;
    font-size:13px;
  ul{
  margin-bottom:0px;
  }
}
.text-opacity{
  opacity:0.7;  
}
/**********about page end*********/

/**********login**********/

.divider{
      height: 1px;
    width: 100%;
    position: relative;
    background: #efefef;
    margin:3rem 0;
    .or{
        position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 40px;
    top: -17px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    line-height: 26px;
    border: 1px solid #efefef;
    }
}
.form-section {
    min-height:100vh;
    position:relative;
    background: #dde8ef;
    overflow-x:hidden;
    &:before{
    content:"";
    clip-path: polygon(0 109%, 100% -22%, 100% 100%, 0% 100%);
    background: #f0f1f9;
    position:absolute;
    top:0;right:0;bottom:0;left:0;
    }
}
.login-box-left{
    padding-top:2rem;
    padding-bottom: 1rem;
}
.form-title {
    font-size:1.4rem;
    color: $primary-color;

    @include lg-min{
    font-size:1.8rem;
    }
}
.form-group {
    margin-bottom: 1rem;
    @include lg-min{
    margin-bottom: 1.25rem;
    }
}
.form-control{
&:focus{
    @include shadow(none);
}
}
    @include placeholder{
    font-size:14px;
    opacity:0.8;
    }


.login-form {
    padding: 2rem 1rem;
    @include lg-min{
    padding:2rem;
    }
    .form-group{
    position: relative;

    .form-control {
    background-color: rgb(255, 255, 255);
    height: 42px;
    padding: .375rem 1rem;

}
}
    .username {
    &:before {
    content: "";
    background-image: url('../images/username.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    background-position: center;
    top: 11px; opacity:0.5;

  }

    }
    .password{
    &:before{
    content: "";
    background-image: url('../images/password.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    background-position: center;
    top: 11px;opacity:0.5;
    background-image: url('../images/password.svg');
    }
   
    }
    .email{
    content: "";
    background-image: url('../images/email.svg');
    background-size: cover;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 1.5rem;
    background-position: center;
    top: 11px;opacity:0.5;
    }
}
.btn-icon {
    svg {
    height: 30px;
    margin-bottom:0.5rem;
}
span{
   font-size:14px;
}
}
/*************my claim************/
.navbar-inner{
    .nav-link {
        padding: .25rem 1rem;
    &.active{
    @include grdimg();
    }
    }
}
.claim-card{
    @include flex();
    margin-bottom:1.5rem;
    @include md-max{
    margin-bottom:1rem;
    justify-content: space-between!important;
    flex-direction: row;
    .claim-box{
       flex-direction: column;
    }
    }
}
.claim-box{
    padding:1rem;
    @include lg-min{
    padding:1.5rem;
    }

}
.claim-table{
li {
    margin-bottom: 0.75rem;
    .case-header {
    display: inline-block;
    font-weight:500;
    margin-right:0.5rem;
    @include lg-min{
    min-width: 120px;
    }
    .case-value{
    opacity:0.8;
    }
}

}
}
.claim-status {
@include md-max{
 padding: 1rem;
     border-left: 1px solid #efefef;
    padding-left: 0px;
}
ul{
    @include md-max{
    flex-direction: column;
    } 
}
    li{
    }
  
    .nav-link {
    position: relative;
    margin-bottom: 16px;
    margin-left: 50px;
    padding: 8px 0;
    color:$text-color;
    border-radius:0rem;
    font-weight:600;
    opacity:0.6;
    @include md-max{
        margin-bottom: 0px;
    margin-right: 0;
    text-align: left;
    margin-left: 30px;
    font-size: 12px;
  
}
     &:before{
      color:$text-color;
      content: '\2022';
      display: inline-block;
      font-size: 25px;
      left: -20px;
      position: absolute;
      top: 1px;opacity:0.6;
    }

    &.active {
    opacity:1;
    color:$primary-color;
    &:before{
    color:$primary-color;opacity:1;
    }
}

}
}

