body {
  font-family: $primary-font;
  font-size: 16px;
  color: $text-color;
  // letter-spacing:1px;
  @include md-max {
    font-size: 13px;
  }
}

@mixin grdimg() {
  background-image: -moz-linear-gradient(-30deg, rgb(20, 136, 204) 0%, rgb(13, 101, 191) 39%, rgb(28, 76, 185) 62%, rgb(43, 50, 178) 100%);
  background-image: -webkit-linear-gradient(-30deg, rgb(20, 136, 204) 0%, rgb(13, 101, 191) 39%, rgb(28, 76, 185) 62%, rgb(43, 50, 178) 100%);
  background-image: -ms-linear-gradient(-30deg, rgb(20, 136, 204) 0%, rgb(13, 101, 191) 39%, rgb(28, 76, 185) 62%, rgb(43, 50, 178) 100%);
}

.bg-grd {
  @include grdimg();
}

.bg-theme {
  background: $primary-color;
}

.border-theme {
  border-bottom-color: rgba(136, 136, 136, 0.31) !important;
  border-bottom-style: dashed !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  // margin-bottom:0;
}

.flex-1 {
  flex: 1;
}

p {
  // margin-bottom:0;
}

.logo {

}

.font-bold {
  font-weight: 700;
}

.font-regular {
  font-weight: 400;
}

.font-semi-bold {
  font-weight: 600;
}

.font-medium {
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

.lead {
  @include md-max {
  }
}

.title {

  @include md-max {
    font-size: 2rem;
  }
}

.btn {
  &:focus, &.focus {
    box-shadow: none;
  }
}

.main {
  background: #f0f1f9;
}

.section-header {
}

.title {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 2rem;
  @include lg-min {
    font-size: 52px;
  }
  @include md-max {
    margin-bottom: 2rem;
  }
  @include xs-max {
    margin-bottom: 1rem;
    font-size: 28px;
  }
}

.mainsection {
  margin-bottom: 13rem;
  padding-top: 3rem;
  @include lg-min {
    padding-top: 5rem;
  }
}